*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  transition: all .3s linear;
}

body {
  box-sizing: border-box;
  background-color: #3B1EDD;
}

html {
  font-size: 62.5%;
}


.App {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color:
    #F4F4ED;
  /*  #e4e4e4; */
}

@font-face {
  font-family: "NeueMachina";
  src: url("./fonts/NeueMachina-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Aileron";
  src: url("./fonts/Aileron-Regular.otf");
  font-weight: 400;
}